<div class="box">
    <div class="actions">

          <form id="mysearchfrom" action="#">
            <table id="table-filter" class="table-filter">
                 <tr>
                     <td>
                         <div class="controls">
                             <label class="radio inline"> 名称</label>
                         </div>
                     </td>
                     <td>
                         <input id="keyword" type="text" class="input-medium" placeholder="" value="<!--{{keyword}}-->">
                     </td>
                     <td>
                         <a href="javascript:;" id="mysearch" class="btn btn-teal ">按条件搜索</a>
                     </td>
                     <td>
                         <div style="display:none" id="select-div">
                             <a id="select-ok" href="javascript:void(0);" data-id="<!--{{item[primarykey]}}-->"  class="btn btn-primary ">确定选择</a>
                         </div>
                     </td>
                 </tr>
            </table>
          </form>

    </div>
    <table id="mytable_" class="table table-hover table-nomargin">
    	<!--{% if thread_th %}-->
	        <thead>
	        <tr >
	        	<!--{% for key,itemth in thread_th%}-->
	        		<th style="width:<!--{% if trWidth[key] %}--><!--{{trWidth[key]}}--><!--{%else%}-->100<!--{% endif %}-->px"><!--{{itemth}}--></th>
	            <!--{%endfor%}-->
				<th class="table-btn-group" style="width:70px;">操作</th>
	        </tr>
	        </thead>
	    <!--{%endif%}-->
	    <!--{% if datalist %}-->
        <tbody id="layer_tbody">
            <!--{{html_th}}-->
        </tbody>
        <!--{%endif%}-->
    </table> 
    <div id="pagelink"  class="pagelink" style="display:block;">
        
    </div>
    <!--{% if isCheckboxs %}-->
        </br></br>
        <div id='is_checkboxs' style="widht:100%; word-break: break-all;word-wrap:break-word;" >
        </div>
        </br></br>

    <!--{%endif%}-->
</div>
