<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    产品列表管理
                </h3>
                <div class="actions">
                    <form action="<!--{{url('product/product/list')}}-->" class="">
                    <table class="table-filter">
                        <tr>
                            <td style="color: white;">按</td>
                            <td><!--{{form_select('key',keys,orderby.key,{'style':'width:120px;margin-bottom:0px'})}}--></td>
                            <td><!--{{form_select('value',values,orderby.value,{'style':'width:120px;margin-bottom:0px'})}}--></td>
                            <td style="color: white;">排序</td>

                            <td><!--{{form_select('group_id',groups,search.group_id,{'style':'width:120px;margin-bottom:0px'})}}--></td>
                            <td><input name="name" type="text" class="input-small" placeholder="产品名" value="<!--{{search.name}}-->" /></td>
                            <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
                            <td><a href="<!--{{url('product/product/add')}}-->" class="btn btn-teal">添加产品</a></td>
                        </tr>
                    </table>
                    </form>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                    	<th class="col-60">ID</th>
                        <th class="col-60">产品名</th>
                        <th class="col-60">产品类别</th>
                        <th class="col-60">价格</th>
                        <th class="table-btn-group">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{%for item in datalist%}-->
                    <tr>
                    	<td><!--{{item.prid}}--></td>
                        <td><!--{{item.name}}--></td>
                        <td><!--{{groups[item.gid]}}--></td>
                        <td><!--{{item.price}}--></td>
                        <td>
                            <a href="<!--{{url('product/product/edit',{id:item.prid})}}-->" class="btn btn-primary">编辑</a> |
                            <a class="btn btn-danger ajax-del" prid="<!--{{item.prid}}-->" href="javascript:void(0);">删除</a>
                        </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
                <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="/static/js/laydate/laydate.js"></script>
<script src="<!--{{asset('/static/js/ajaxfileupload.js')}}-->"></script>
<script>
    $(function(){
        $('input.ids').iCheck({
            checkboxClass: 'icheckbox_square-orange',
            radioClass: 'iradio_square-orange',
            increaseArea: '20%' // optional
        });
        var bar = $('.bar');
        var percent = $('.percent');
        var progress = $(".progress");

        $(".ajax-del").bind('click',function(){
            var obj = $(this);
            alertify.confirm('确认删除该记录？',function(e){
                if(e){
                    var prid = obj.attr('prid');
                    $.ajax({
                        url:'/product/product/ajax-del',
                        type : 'post',
                        data:{prid: prid},
                        dataType : 'JSON',
                        success : function (data){
                            if(data.state){
                                alertify.success(data.msg);
                                setTimeout(function(){location.reload();},1000);
                            }else{
                                alertify.error(data.msg);
                            }
                        }
                    })
                }
            });
        });
        $('input[name="all"]').on('ifChecked',function(event){
            $('input[name="ids"]').iCheck('check');
        });

        $('input[name="all"]').on('ifUnchecked',function(event){
            $('input[name="ids"]').iCheck('uncheck');
        });

    });
</script>
<!--{%endblock%}-->