<!--{%extends 'base-layout'%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					权限组
					<span class="badge badge-warning"></span>
				</h3>
				<div class="actions">
				    <table class="table-filter">
				        <tr>
				            <td><a href="<!--{{url('admin/group/add')}}-->" class="btn btn-teal">添加权限组</a></td>
				        </tr>
				    </table>
				</div>
			</div>
			<div class="box-content nopadding">
				<table class="table table-bordered table-hover">
					<tr>
						<th width="10%">ID</th>
						<th width="30%">组名</th>
						<th width="50%">描述</th>						
						<th width="10%">操作</th>
					</tr>
					<!--{%for item in datalist%}-->
					<tr>
						<td><!--{{item.group_id}}--></td>
						<td><!--{{item.group_name}}--></td>
						<td><!--{{item.group_desc}}--></td>						
						<td>
							<a title="编辑" class="icon-edit pull-left" href="<!--{{url('admin/group/edit',{'group_id':item.group_id})}}-->">编辑</a>
							<a title="删除" class="icon-remove pull-right" href="<!--{{url('admin/group/delete',{'group_id':item.group_id})}}-->">删除</a>
						</td>
					</tr>
					<!--{%endfor%}-->
				</table>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->