<!--{%extends 'base-layout'%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/js/plugins/bootstrap-table/bootstrap-table.min.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    模块管理
                </h3>
                <div class="actions">
                    <table class="table-filter">
                        <tr>
                            <td><a href="<!--{{url('admin/module/install')}}-->" class="btn btn-teal">安装新模块</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="box-content nopadding">
                <table id="table" class="table table-bordered table-hover" data-toggle="table" data-resizable="true">
                    <thead>
                        <tr>
                            <th data-field="id">ID</th>
                            <th data-field="name">模块类型</th>
                            <th data-field="alias">模块名称</th>
                            <th data-field="desc">描述</th>
                            <th data-field="op">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!--{%for item in datalist%}-->
                    <tr>
                        <td><!--{{item.id}}--></td>
                        <td><!--{{item.module_type}}--></td>
                        <td><!--{{item.module_alias}}--></td>
                        <td><!--{{item.module_desc}}--></td>
                        <td>
                            <a class="icon-edit pull-left" href="<!--{{url('admin/module/info',{'id':item.id})}}-->">查看</a>
                            <!--{%if item.module_type != 'core'%}-->
                            <a class="icon-remove pull-right" href="<!--{{url('admin/module/uninstall',{'id':item.id})}}-->">卸载</a>
                            <!--{%endif%}-->
                        </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script type="text/javascript" src="/static/js/plugins/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="/static/js/plugins/bootstrap-table/extensions/resizable/bootstrap-table-resizable.js"></script>
<script src="https://rawgit.com/wenzhixin/colResizable/master/source/colResizable-1.5.source.js"></script>
<!--{%endblock%}-->
