<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					操作日志列表
					<span class="badge badge-warning"><!--{{totalcount}}--></span>
				</h3>
				<div class="actions">
				    <form action="<!--{{url('/system/operate')}}-->">
				    <table class="table-filter form-inline">
				        <tr>
				        	<td>
				                <div class="form-group-lg">
									<label class='control-label'>权限组 ： </label><!--{{form_select('group',group,search.group,{'class':'input-small'})}}-->
								</div>
				            </td>
				            <td>
				                <div class="input-append date datepick" id="dpStart" data-date="">
									<input name="startdate" type="text" class="input-small" value="<!--{{search.startdate}}-->" readonly>
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
				            </td>
				            <td>
				                <div class="input-append date datepick" id="dpEnd" data-date="">
									<input name="enddate" type="text" class="input-small" value="<!--{{search.enddate}}-->" readonly>
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
							</td>
				            <td><input type="text" name="name" id="keyword" class="input-medium" placeholder="用户名" value="<!--{{search.name}}-->"/> </td>
				            <td><input type="text" name="channel" id="keyword" class="input-medium" placeholder="标示名" value="<!--{{search.channel}}-->"/> </td>
				            <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-40">
						        
							</th>
						    <th class="col-50">ID</th>
							<th class="col-150">标示名</th>
							<th class="col-150">用户名</th>
							<th class="col-150">权限组</th>
							<th class="col-150">操作内容</th>
							<th class="col-150">时间</th>
							<th class="col-40">数据详情</th>
						</tr>
					</thead>
					<tbody>
					<!--{%for item in list%}-->
					<tr>
						<td></td>
						<td><!--{{item.monolog_id}}--></td>
						<td><!--{{item.channel}}--></td>
						<td><!--{{item.name}}--></td>
						<td><!--{{item.description}}--></td>
						<td><!--{{item.operate}}--></td>
						<td><!--{{item.time}}--></td>
						<td>
							<button class="btn btn-primary btn-sm look" op-id="<!--{{item.monolog_id}}-->" data-toggle="modal" data-target="#data-div">
  								查看
							</button>
						</td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			    <div class="modal fade" id="data-div" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <h4 class="modal-title" id="myModalLabel">数据详情</h4>
				      </div>
				      <div class="modal-body">
				        ...
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
$(function(){
    $(".look").click(function(){
    	$.get("operate/get-loginfo",{"mon_id":$(this).attr("op-id")},function(data){
    		var htm = '';
    		for(var key in data){
    			htm += '<p>' + key + ' : ' + data[key] + '</p>';
    		};
    		$("#data-div").find(".modal-body").html(htm);
    	})
    })
});
</script>
<!--{%endblock%}-->