<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    订单列表管理
                </h3>
                <div class="actions">
                    <form action="<!--{{url('order/order/list')}}-->" class="">
                    <table class="table-filter">
                        <tr>
                            <td><input name="orderNo" type="text" class="input-small" placeholder="订单号" value="<!--{{search.orderNo}}-->" /></td>
                            <td><input name="address" type="text" class="input-small" placeholder="客户单位" value="<!--{{search.address}}-->" /></td>
                            <td><input name="name" type="text" class="input-small" placeholder="姓名" value="<!--{{search.name}}-->" /></td>
                            <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
                            <td><a href="<!--{{url('order/order/add')}}-->" class="btn btn-teal">添加订单</a></td>
                        </tr>
                    </table>
                    </form>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                    	<th class="col-60">ID</th>
                        <th class="col-60">订单号</th>
                        <th class="col-60">客户单位</th>
                        <th class="col-60">姓名</th>
                        <th class="col-60">电话</th>
                        <th class="col-60">流程进度</th>
                        <th class="table-btn-group">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{%for item in datalist%}-->
                    <tr>
                    	<td><!--{{item.orid}}--></td>
                        <td><!--{{item.orderNo}}--></td>
                        <td><!--{{item.address}}--></td>
                        <td><!--{{item.name}}--></td>
                        <td><!--{{item.tel}}--></td>
                        <td><!--{{status_arr[item.status]}}--></td>
                        <td>
                            <a href="<!--{{url('order/order/edit',{id:item.orid})}}-->" class="btn btn-primary">编辑</a> |
                            <a class="btn btn-danger ajax-del" orid="<!--{{item.orid}}-->" href="javascript:void(0);">删除</a>
                        </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
                <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
    $(function(){
        $('input.ids').iCheck({
            checkboxClass: 'icheckbox_square-orange',
            radioClass: 'iradio_square-orange',
            increaseArea: '20%' // optional
        });
        var bar = $('.bar');
        var percent = $('.percent');
        var progress = $(".progress");

        $(".ajax-del").bind('click',function(){
            var obj = $(this);
            alertify.confirm('确认删除该记录？',function(e){
                if(e){
                    var orid = obj.attr('orid');
                    $.ajax({
                        url:'/order/order/ajax-del',
                        type : 'post',
                        data:{orid: orid},
                        dataType : 'JSON',
                        success : function (data){
                            if(data.state){
                                alertify.success(data.msg);
                                setTimeout(function(){location.reload();},1000);
                            }else{
                                alertify.error(data.msg);
                            }
                        }
                    })
                }
            });
        });
        $('input[name="all"]').on('ifChecked',function(event){
            $('input[name="ids"]').iCheck('check');
        });

        $('input[name="all"]').on('ifUnchecked',function(event){
            $('input[name="ids"]').iCheck('uncheck');
        });

    });
</script>
<!--{%endblock%}-->