<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>编辑订单</h3>
            </div>

            <div class="box-content">
                <form id="gift-info-form" action="<!--{{url('/order/order/edit')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
                    <input name="id" type="hidden" value="<!--{{data.orid}}-->"  />
                    <div class="control-group" >
                        <label class="control-label">订单号:</label>
                        <div class="controls">
                            <input type="text" name="orderNo" class="input-large" value="<!--{{data.orderNo  }}-->" />
                        </div>
                    </div>

					<div class="control-group" >
						<label class="control-label">电话:</label>
						<div class="controls">
							<input type="text" name="tel" class="input-large" value="<!--{{data.tel  }}-->" />
						</div>
					</div>

					<div class="control-group" >
						<label class="control-label">价格:</label>
						<div class="controls">
							<input type="text" name="price" class="input-large" value="<!--{{data.price  }}-->" />
						</div>
					</div>

					{#<div class="control-group">#}
						{#<label for="group" class="control-label">分类</label>#}
						{#<div class="controls">#}
							{#<!--{{form_select('gid',groups,data.gid)}}-->#}
						{#</div>#}
					{#</div>#}

					{#<div class="control-group" >#}
						{#<label class="control-label">摘要:</label>#}
						{#<div class="controls">#}
							{#<input type="text" name="summary" class="input-large" value="<!--{{data.summary  }}-->" />#}
						{#</div>#}
					{#</div>#}

					{#<div class="control-group">#}
						{#<label for="textfield" class="control-label">内容</label>#}
						{#<div class="controls">#}
							{#<script id="intro" name="content" type="text/plain"><!--{{ data.content }}--></script>#}
						{#</div>#}
					{#</div>#}
		
			        <div class="form-actions">
			            <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
			        </div>
			        			        
			        <div class="box-title"></div>

				</form>
		    </div>
		</div>
	</div>
</div>

<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script src="<!--{{asset('/static/js/laydate/laydate.js')}}-->"></script>
<link rel="stylesheet" href="<!--{{asset('/static/js/autosuggest_v2.1.3/css/autosuggest_inquisitor.css')}}-->">
<script src="<!--{{asset('/static/js/autosuggest_v2.1.3/js/bsn.AutoSuggest_2.1.3_comp.js ')}}-->"></script>
<script src="<!--{{asset('/static/js/MyHelp.js')}}-->"></script>
<script>
	// $(function(){
	// 	$('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch','minDate':''});
	// 	UE.getEditor('intro',{initialFrameHeight:100});
	// 	$('input').iCheck({
	// 		checkboxClass: 'icheckbox_square-orange',
	// 		radioClass: 'iradio_square-orange',
	// 		increaseArea: '20%' // optional
	// 	});
	// 	$('.switchbox').bootstrapSwitch();
	// });
	    
</script>
<!--{%endblock%}-->