<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>添加订单</h3>
            </div>

            <div class="box-content">
                <form id="gift-info-form" action="<!--{{url('/order/order/add')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
	
           			<div class="control-group" >
                        <label class="control-label">订单号:</label>
                        <div class="controls">
                            <input type="text" name="orderNo" class="input-large" value="" />
                        </div>
                    </div>

					<div class="control-group" >
						<label class="control-label">客户姓名:</label>
						<div class="controls">
							<input type="text" name="name" class="input-large" value="" />
						</div>
					</div>

					<div class="control-group" >
						<label class="control-label">客户电话:</label>
						<div class="controls">
							<input type="text" name="tel"  id="tel" class="input-large" value="" />

							<input type="text" value="" id="searchInput" />

						</div>
					</div>

					<div class="control-group" >
						<label class="control-label">客户单位:</label>
						<div class="controls">
							<input type="text" name="address" class="input-large" value="" />
						</div>
					</div>

					<div class="control-group" >
						<label class="control-label">订单价格:</label>
						<div class="controls">
							<input type="text" name="price" class="input-large" value="" />
						</div>
					</div>

					<div class="control-group" >
						<label class="control-label">合同时间:</label>
						<div class="controls">
							<input type="text" name="contractTime" class="datetimepicker" value="" />
						</div>
					</div>

					<div class="control-group" >
						<label class="control-label">交货时间:</label>
						<div class="controls">
							<input type="text" name="finishTime" class="datetimepicker" value="" />
						</div>
					</div>

					<div class="control-group" >
						<label class="control-label">支付时间:</label>
						<div class="controls">
							<input type="text" name="payTime" class="datetimepicker" value="" />
						</div>
					</div>

					<div class="control-group">
						<label for="group" class="control-label">付款状态</label>
						<div class="controls">
							<!--{{form_select('payStatus',payStatus_arr,data.payStatus)}}-->
						</div>
					</div>

					<div class="control-group" >
						<label class="control-label">已支付金额:</label>
						<div class="controls">
							<input type="text" name="pay" class="input-large" value="" />
						</div>
					</div>

					<div class="control-group">
						<label for="group" class="control-label">流程进度</label>
						<div class="controls">
							<!--{{form_select('status',status_arr,data.status)}}-->
						</div>
					</div>

					<div class="control-group" >
						<label class="control-label">发票类型:</label>
						<div class="controls">
							<input type="text" name="receiptType" class="input-large" value="" />
						</div>
					</div>

					<div class="control-group" >
						<label class="control-label">发票抬头:</label>
						<div class="controls">
							<input type="text" name="receiptTitle" class="input-large" value="" />
						</div>
					</div>

					<div class="control-group" >
						<label class="control-label">发票内容:</label>
						<div class="controls">
							<input type="text" name="receiptContent" class="input-large" value="" />
						</div>
					</div>

					<div class="control-group">
						<label for="textfield" class="control-label">联系方式</label>
						<div class="controls">
							<div id="kv">
								<p>
									<span style="width: 40%;display: table-cell;">姓名: <input type="text" name="keys[]" class="input-large" value="" style="width: 70%;margin-left: 25px;"></span>
									<span style="display: table-cell;width: 40%;padding-left: 30px;">电话: <input type="text" name="values[]" class="input-xlarge" value=""></span>
									<span style="display: table-cell;width: 10%;padding-left: 20px;"><a class="btn btn-danger ajax-delkey" href="javascript:void(0);">×</a></span>
								</p>
								<p>
									<span style="width: 100%;">收货地址: <input type="text" name="add1[]" class="input-large" value="" style="width: 80%;"></span>
								</p>
							</div>
						</div>
						<div class="controls">
							<a class="btn btn-primary ajax-addkey" href="javascript:void(0);">添加联系方式</a>
						</div>
					</div>

					<div class="control-group">
						<label for="textfield" class="control-label">产品信息</label>
						<div class="controls">
							<div id="pr"></div>
						</div>
						<div class="controls">
							<a class="btn btn-primary ajax-addpr" href="javascript:void(0);">添加产品</a>
						</div>
					</div>

			        <div class="form-actions">
			            <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
			        </div>
			        
			        <div class="box-title"></div>
                
		        </form>
		                        
		    </div>
		</div>
	</div>
</div>

<!-- 模态框 修改-->
<div class="modal" id="address_edit_modal2" style="display: none;">
	<div class="modal-dialog" style="width:70%;margin-left:15%;margin-top:5%;">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title text-left">
					选择产品
				</h4>
			</div>
			<div class="modal-body text-left">
				<form id="modelFromUpdate">
					<div class="control-group">
						<label for="group" class="control-label">产品:</label>
						<div class="controls">
							<select id="products">
							<!--{%for itemp in pr_arr%}-->
								<option value="<!--{{itemp.prid  }}-->"><!--{{itemp.name  }}--></option>
							<!--{%endfor%}-->
							</select>
						</div>
					</div>
					<div class="control-group" >
						<label class="control-label">数量:</label>
						<div class="controls">
							<input type="text" id="number" class="input-large" value="" />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer" style="text-align:center;background-color: #fff;padding-bottom: 5%;">
				<a class="btn btn-default ajax-addpr-no" href="javascript:void(0);">取消</a>
				<a class="btn btn-primary ajax-addpr-ok" href="javascript:void(0);">确定</a>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script src="<!--{{asset('/static/js/laydate/laydate.js')}}-->"></script>
<link rel="stylesheet" href="<!--{{asset('/static/js/autosuggest_v2.1.3/css/autosuggest_inquisitor.css')}}-->">
<script src="<!--{{asset('/static/js/autosuggest_v2.1.3/js/bsn.AutoSuggest_2.1.3_comp.js ')}}-->"></script>
<script src="<!--{{asset('/static/js/MyHelp.js')}}-->"></script>
<script>
	$(function(){
        var emails = [
            { name: "Peter Pan", to: "peter@pan.de" },
            { name: "Molly", to: "molly@yahoo.com" },
            { name: "Forneria Marconi", to: "live@japan.jp" },
            { name: "Master <em>Sync</em>", to: "205bw@samsung.com" },
            { name: "Dr. <strong>Tech</strong> de Log", to: "g15@logitech.com" },
            { name: "Don Corleone", to: "don@vegas.com" },
            { name: "Mc Chick", to: "info@donalds.org" },
            { name: "Donnie Darko", to: "dd@timeshift.info" },
            { name: "Quake The Net", to: "webmaster@quakenet.org" },
            { name: "Dr. Write", to: "write@writable.com" },
            { name: "GG Bond", to: "Bond@qq.com" },
            { name: "Zhuzhu Xia", to: "zhuzhu@qq.com" }
        ];
        $("#searchInput").autocomplete(emails, {
            max: 5,    //列表里的条目数
            minChars: 0,    //自动完成激活之前填入的最小字符
            width: $("#searchInput").width()+1,     //提示的宽度，溢出隐藏
            scrollHeight: 300,   //提示的高度，溢出显示滚动条
            matchContains: true,    //包含匹配，就是data参数里的数据，是否只要包含文本框里的数据就显示
            autoFill: false,    //自动填充
            formatItem: function(row, i, max) {
                return i + '/' + max + ':"' + row.name + '"[' + row.to + ']';
            },
            formatMatch: function(row, i, max) {
                return row.name + row.to;
            },
            formatResult: function(row) {
                return row.to;
            }
        }).result(function(event, row, formatted) {
            alert($("#searchInput").width());
        });

        $("#searchInput").on('change', function(){
            $("#tel").val($("#searchInput").val());
        });

        $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i:00',lang:'ch','todayButton':true});
	// 	UE.getEditor('intro',{initialFrameHeight:100});
	// 	$('input').iCheck({
	// 		checkboxClass: 'icheckbox_square-orange',
	// 		radioClass: 'iradio_square-orange',
	// 		increaseArea: '20%' // optional
	// 	});
	// 	$('.switchbox').bootstrapSwitch();
        $(".ajax-addkey").bind('click',function(){
            var str = '<p><span style="width: 40%;display: table-cell;">姓名: <input type="text" name="keys[]" class="input-large" value="" style="width: 70%;margin-left: 25px;"></span>' +
                '<span style="display: table-cell;width: 40%;padding-left: 30px;">电话: <input type="text" name="values[]" class="input-xlarge" value=""></span>' +
				'<span style="display: table-cell;width: 10%;padding-left: 20px;"><a class="btn btn-danger ajax-delkey" href="javascript:void(0);">&times;</a></span></p>' +
                '<p><span style="width: 100%;">收货地址: <input type="text" name="add1[]" class="input-large" value="" style="width: 80%;"></span></p>';
            $("#kv").append(str);
        });
        $(".ajax-delkey").bind('click',function(){
            $(this).parent().remove();
        });
        $(".ajax-addpr").bind('click',function(){
            $("#address_edit_modal2").show();
        });
        $(".ajax-addpr-no").bind('click',function(){
            $("#address_edit_modal2").hide();
        });
        $(".ajax-addpr-ok").bind('click',function(){
            var pname = $("#products").find("option:selected").text();
            var prid = $("#products ").val();
            var number = $("#number ").val();
            var str = '<p><span style="width: 40%;display: table-cell;">产品: <input type="hidden" name="prids[]" class="input-large" value="'+prid+'" style="width: 70%;margin-left: 25px;">'+pname+'</span>' +
                '<span style="display: table-cell;width: 40%;padding-left: 30px;">数量: <input type="text" name="numbers[]" class="input-large" value="'+number+'"></span>' +
                '<span style="display: table-cell;width: 10%;padding-left: 20px;"><a class="btn btn-danger ajax-delpr" href="javascript:void(0);">&times;</a></span></p>';
            $("#pr").append(str);
            $("#address_edit_modal2").hide();
        });
        $(".ajax-delpr").bind('click',function(){
            $(this).parent().remove();
        });
	});
</script>
<!--{%endblock%}-->