<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    文章列表管理
                </h3>
                <div class="actions">
                    <table class="table-filter">
                        <tr>
                            <td><a href="<!--{{url('article/article/add')}}-->" class="btn btn-teal">添加文章</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                    	<th class="col-60">ID</th>
                        <th class="col-60">标题</th>
                        <th class="table-btn-group">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{%for item in datalist%}-->
                    <tr>
                    	<td><!--{{item.arid}}--></td>
                        <td><!--{{item.title}}--></td>
                        <td>
                            <a href="<!--{{url('article/article/edit',{id:item.arid})}}-->" class="btn btn-primary">编辑</a> |
                            <a href="<!--{{url('article/article/commentlist',{pid:item.arid})}}-->" class="btn btn-primary">查看评论</a>
                        </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
                <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->