<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>编辑广告</h3>
            </div>

            <div class="box-content">
                <form id="gift-info-form" action="<!--{{url('/article/article/edit')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
                    <input name="id" type="hidden" value="<!--{{data.arid}}-->"  />
					<input name="old_img" type="hidden" value="<!--{{data.img}}-->" />
                    <div class="control-group" >
                        <label class="control-label">标题:</label>
                        <div class="controls">
                            <input type="text" name="title" class="input-large" value="<!--{{data.title  }}-->" />
                        </div>
                    </div>

					<div class="control-group" >
						<label class="control-label">子标题:</label>
						<div class="controls">
							<input type="text" name="summary" class="input-large" value="<!--{{data.summary  }}-->" />
						</div>
					</div>

					<div class="row-fluid">
						<div class="span3">
							<div class="control-group">
								<label class="control-label">图片</label>
								<div class="controls">
									<div class="fileupload fileupload-new" data-provides="fileupload">
										<div class="fileupload-new thumbnail" style="max-width: 120px; max-height: 120px;">
											<img src="<!--{{data.img|default('/static/img/nopic.gif')}}-->" />
										</div>
										<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"></div>
										<div>
											<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择图片</span><span class="fileupload-exists">重新选择</span><input type="file"  name='img' /></span>
										</div>
									</div>
									<span class="help-inline"></span>
								</div>
							</div>
						</div>
					</div>

					<div class="control-group">
						<label for="textfield" class="control-label">详细内容</label>
						<div class="controls">
							<script id="intro" name="content" type="text/plain"><!--{{ data.content }}--></script>
						</div>
					</div>

			        <div class="form-actions">
			            <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
			        </div>
			        			        
			        <div class="box-title"></div>

				</form>
		    </div>
		</div>
	</div>
</div>

<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script src="<!--{{asset('/static/js/laydate/laydate.js')}}-->"></script>
<link rel="stylesheet" href="<!--{{asset('/static/js/autosuggest_v2.1.3/css/autosuggest_inquisitor.css')}}-->">
<script src="<!--{{asset('/static/js/autosuggest_v2.1.3/js/bsn.AutoSuggest_2.1.3_comp.js ')}}-->"></script>
<script src="<!--{{asset('/static/js/MyHelp.js')}}-->"></script>
<script>
	 $(function(){
//	 	$('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch','minDate':''});
	 	UE.getEditor('intro',{initialFrameHeight:100});
	 	$('input').iCheck({
	 		checkboxClass: 'icheckbox_square-orange',
	 		radioClass: 'iradio_square-orange',
	 		increaseArea: '20%' // optional
	 	});
	 	$('.switchbox').bootstrapSwitch();
	 });
	    
</script>
<!--{%endblock%}-->